body {
  margin: 0;
  background-color: #1e1e1e;
  font-family: 'Arial', sans-serif;
}

.container {
  background: #f4f1d6;
  padding: 30px;
  max-width: 500px;
  margin: 50px auto;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
  color: #2b2b2b;
}

